body
{
   background-color: #F5F5F5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer8
{
   background-color: #000000;
   filter: alpha(opacity=60);
   opacity: 0.60;
}
#Layer5
{
   background-color: #FF6347;
}
#Layer1
{
   background-color: transparent;
}
#Layer52
{
   background-color: #3C3C3C;
}
#wb_Text104 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text104 div
{
   text-align: left;
}
#wb_Text49 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text49 div
{
   text-align: left;
}
#Layer3
{
   background-color: transparent;
}
#Shape8
{
   border-width: 0;
}
#Image24
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text101 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text101 div
{
   text-align: center;
}
#Layer30
{
   background-color: transparent;
}
#Image25
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text140 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text140 div
{
   text-align: left;
}
#Layer2
{
   background-color: #FFFFFF;
   border: 1px #DCDCDC solid;
}
#wb_Text533 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text533 div
{
   text-align: left;
}
#wb_Text534 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text534 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Line11
{
   color: #DCDCDC;
   background-color: #DCDCDC;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Line22
{
   color: #DCDCDC;
   background-color: #DCDCDC;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Layer6
{
   background-color: transparent;
}
#Layer20
{
   background-color: #FFFFFF;
   -moz-box-shadow: 3px 3px 12px #000000;
   -webkit-box-shadow: 3px 3px 12px #000000;
   box-shadow: 3px 3px 12px #000000;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#Line33
{
   color: #DCDCDC;
   background-color: #DCDCDC;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#wb_Text19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Line44
{
   color: #DCDCDC;
   background-color: #DCDCDC;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Shape5
{
   width: 105px;
   height: 31px;
   background-color: #FFFFFF;
   border: 1px #FF6347 solid;
}
#Shape5:hover
{
   background-color: #FF6347;
   border: 1px #F05539 solid;
}
#Shape5_text
{
   position: absolute;
   left: 3px;
   top: 6px;
   width: 99px;
   height: 22px;
   overflow: hidden;
   text-align: center;
}
#Shape5:hover span
{
   color: #FFFFFF !important;
}
#Shape5 span:hover
{
   color: #FFFFFF !important;
}
#Shape6
{
   width: 105px;
   height: 31px;
   background-color: #FFFFFF;
   border: 1px #FF6347 solid;
}
#Shape6:hover
{
   background-color: #FF6347;
   border: 1px #F05539 solid;
}
#Shape6_text
{
   position: absolute;
   left: 3px;
   top: 6px;
   width: 99px;
   height: 22px;
   overflow: hidden;
   text-align: center;
}
#Shape6:hover span
{
   color: #FFFFFF !important;
}
#Shape6 span:hover
{
   color: #FFFFFF !important;
}
#Shape7
{
   width: 105px;
   height: 31px;
   background-color: #FFFFFF;
   border: 1px #FF6347 solid;
}
#Shape7:hover
{
   background-color: #FF6347;
   border: 1px #F05539 solid;
}
#Shape7_text
{
   position: absolute;
   left: 3px;
   top: 6px;
   width: 99px;
   height: 22px;
   overflow: hidden;
   text-align: center;
}
#Shape7:hover span
{
   color: #FFFFFF !important;
}
#Shape7 span:hover
{
   color: #FFFFFF !important;
}
#wb_Text20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_Text24 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#wb_Text107 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text107 div
{
   text-align: center;
}
#wb_Text106 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text106 div
{
   text-align: left;
}
#Layer7
{
   background-color: #FFFFFF;
   border: 1px #DCDCDC solid;
}
#wb_Text18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text27 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27 div
{
   text-align: left;
}
#wb_Text28 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text28 div
{
   text-align: left;
}
#Main_Terms_Layer
{
   background-color: transparent;
}
#Layer344
{
   background-color: #000000;
   filter: alpha(opacity=70);
   opacity: 0.70;
}
#G_Terms
{
   background-color: #FFFFFF;
}
#Layer345
{
   background-color: #FAFAFA;
}
#AdvancedButton54
{
   border: 0px #FFFFFF solid;
   background-color: #FAFAFA;
}
#AdvancedButton54:hover
{
   background-color: #FF6347;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   -ms-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_G-terms-text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_G-terms-text1 div
{
   text-align: left;
}
#wb_B-terms-text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_B-terms-text1 div
{
   text-align: left;
}
#wb_P-text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_P-text1 div
{
   text-align: left;
}
#Layer343
{
   background-color: #FFFFFF;
}
#wb_G-terms-text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_G-terms-text2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_B-terms-text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_B-terms-text2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_P-text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_P-text2 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer4
{
   background-color: #EEEEEE;
}
#Shape1
{
   border-width: 0;
}
#Shape2
{
   border-width: 0;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Main_terms_layer
{
   background-color: transparent;
}
#Layer10
{
   background-color: #000000;
   filter: alpha(opacity=70);
   opacity: 0.70;
}
#Layer11
{
   background-color: #FFFFFF;
}
#Layer12
{
   background-color: #FAFAFA;
}
#AdvancedButton1
{
   border: 0px #FFFFFF solid;
   background-color: #FAFAFA;
}
#AdvancedButton1:hover
{
   background-color: #FF6347;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   -ms-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_Text29 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text29 div
{
   text-align: left;
}
#wb_Text30 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text30 div
{
   text-align: left;
}
#wb_Text31 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text31 div
{
   text-align: left;
}
#Layer13
{
   background-color: #FFFFFF;
}
#wb_Text32 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text32 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text33 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text33 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text34 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text34 div
{
   text-align: left;
   white-space: nowrap;
}
#Layer9
{
   background-color: #696969;
}
#Layer295
{
   background-color: #4B4B4B;
}
#wb_Text541 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text541 div
{
   text-align: left;
}
#Layer14
{
   background-color: #FF6347;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image_ads42
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text106 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text106 div
{
   text-align: center;
}
#wb_Text107 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text107 div
{
   text-align: center;
}
#wb_Text108 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text108 div
{
   text-align: center;
}
#wb_Text118 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text118 div
{
   text-align: center;
}
#Layer53
{
   background-color: #FFFFFF;
}
#wb_Text109 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text109 div
{
   text-align: center;
}
#wb_Text110 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text110 div
{
   text-align: center;
}
#wb_Text111 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text111 div
{
   text-align: center;
}
#wb_Text114 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text114 div
{
   text-align: center;
}
#wb_Text112 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text112 div
{
   text-align: center;
}
#wb_Text113 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text113 div
{
   text-align: center;
}
#wb_Text115 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text115 div
{
   text-align: center;
}
#wb_Text116 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text116 div
{
   text-align: center;
}
#wb_Text117 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text117 div
{
   text-align: center;
}
#Shape9
{
   border-width: 0;
}
#wb_Text309 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text309 div
{
   text-align: center;
}
#RollOver7 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver7 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver7 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver7 a .hover
{
   visibility: hidden;
}
#RollOver7 a:hover .hover
{
   visibility: visible;
}
#RollOver7 a:hover span
{
   visibility: hidden;
}
#RollOver7 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver43 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver43 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver43 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver43 a .hover
{
   visibility: hidden;
}
#RollOver43 a:hover .hover
{
   visibility: visible;
}
#RollOver43 a:hover span
{
   visibility: hidden;
}
#RollOver43 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver44 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver44 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver44 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver44 a .hover
{
   visibility: hidden;
}
#RollOver44 a:hover .hover
{
   visibility: visible;
}
#RollOver44 a:hover span
{
   visibility: hidden;
}
#RollOver44 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver45 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver45 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver45 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver45 a .hover
{
   visibility: hidden;
}
#RollOver45 a:hover .hover
{
   visibility: visible;
}
#RollOver45 a:hover span
{
   visibility: hidden;
}
#RollOver45 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver46 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver46 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver46 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver46 a .hover
{
   visibility: hidden;
}
#RollOver46 a:hover .hover
{
   visibility: visible;
}
#RollOver46 a:hover span
{
   visibility: hidden;
}
#RollOver46 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver47 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver47 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver47 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver47 a .hover
{
   visibility: hidden;
}
#RollOver47 a:hover .hover
{
   visibility: visible;
}
#RollOver47 a:hover span
{
   visibility: hidden;
}
#RollOver47 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver48 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver48 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver48 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver48 a .hover
{
   visibility: hidden;
}
#RollOver48 a:hover .hover
{
   visibility: visible;
}
#RollOver48 a:hover span
{
   visibility: hidden;
}
#RollOver48 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver49 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver49 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver49 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver49 a .hover
{
   visibility: hidden;
}
#RollOver49 a:hover .hover
{
   visibility: visible;
}
#RollOver49 a:hover span
{
   visibility: hidden;
}
#RollOver49 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver42 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver42 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver42 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver42 a .hover
{
   visibility: hidden;
}
#RollOver42 a:hover .hover
{
   visibility: visible;
}
#RollOver42 a:hover span
{
   visibility: hidden;
}
#RollOver42 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
