@CHARSET "UTF-8";
.img28{
	width:28px !important;height:28px !important;;
}
body{
	overflow:auto;
}
.left-fixed{
	position: absolute; 
	text-align: left; 
	left: 0px; 
	top:33%; 
	width: 41px; 
	height: 177px; 
	z-index: 3817; 
    background: white;
    display: grid;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    filter: alpha(opacity=95);
    opacity: 0.95;
    padding: 10px 0px;
}
.image img{
	     width: 99%;
    text-align: center;
    padding: 21px;
}
.image{
	 text-align: center;
}
#Layer48 > p {
    margin: 0 0 6px !important;;;

}
#Layer23  .box1 {
    width: 31% !important;
}
.col-md-5{
	padding-right: 0px !important;;
    padding-left: 0px !important;;
}
.col-md-9 {
    width: 74%;
    margin-right: 6px;
}
.col-md-2{
	
    padding-right: 0px;
    padding-left: 0px;
}
#Layer147 {
	position: absolute;
    text-align: left;
    left: 15px;
    top: 70px;
    width: 472px;
    height: 439px;
    z-index: 3645;
    background-color: #DCDCDC;
    border: 1px #FFFFFF solid;
}
.img32{
	
    width: 31px !important;;;
    /*height: 24px !important;;;*/
}
.bg121{
	
    height: 55px;
    background: rgba(0,0,0,.5);
}
#Layer144 .box1 {
	
    width: 45% !important;;
    }
    .box222 {
    background: white;
    text-align: center;
    padding: 12px 0px;
}
.box11 {
    width: 40%;
    position: absolute;
    text-align: left;
    visibility: hidden;
    z-index: 3866;
    background-color: rgba(0,0,0,.6);
    padding: 20px;
    border: 1px #FFFFFF solid;
   	-moz-border-radius: 4px;
   	-webkit-border-radius: 4px;
   	border-radius: 4px;
   	-moz-box-shadow: 2px -1px 12px #000000;
   	-webkit-box-shadow: 2px -1px 12px #000000;
   	box-shadow: 2px -1px 12px #000000;
}
.font5 {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 11px;
    padding: 4px 1px;
}
.center{
	text-align:center;
}
.inline{
	
    display: inline-flex;
    margin-bottom:5px;
}
.img25{
	
	width:25px !important;height:20px !important;;
	
}
.box1font2{
	color:#4169E1;font-family:Arial;font-size:12px;
}
.left{
	text-align:left;
}
.imgscree{
	margin:10px;
    border: 1px solid lightgrey;
}
.greybox{
	    background-color: #C0C0C0;
   height: 500px;
   overflow:auto;
    padding:10px 20px;
}
.box3{
	
    background-color: #DCDCDC;
    border: 1px #FFFFFF solid;
}
.box1font1{
	color:#FFFFFF;font-family:Georgia;
    font-size: 13px;
    padding: 12px 20px;  background-color: #FF8C00;
    border: 1px #FF8C00 solid;
}
.box1font3{
	color:#FFFFFF;font-family:Georgia;
    font-size: 13px;
    padding: 5px 20px;
}
.imgre{
	position: absolute;
    float: right;     left: 96%;
    top: -15px;
    width: 36px;
}
.box2{
	height: 414px;
	background:white;
	text-align:center;     
	padding: 15px 25px;;
}
.img32{
	
    width: 32px;
    height: 30px;
}
.boxfont2{
	color:#696969;font-family:Arial;font-size:12px;
}
.boxfont3{
	color:#2D2D2D;font-family:Arial;font-size:12px;
}
.box1{
	
    width: 22%;
	position: absolute; text-align: left; 
    visibility: hidden;; z-index: 3866;
	background-color: rgba(0,0,0,.6);
	padding:20px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
    
}
.font1{
	
    padding: 5px;
	    color: #3C3C3C;
    font-family: Arial;
    font-size: 11px;
}
.img59{
	position: absolute;
    left: 93%;
    top: -14px;
    width: 35px;
}
.center{
	text-align:center;
}
.font2{
	color:#FFFFFF;font-family:Arial;font-size:11px;   
    padding: 4px 10px 0px 10px;
    width: 68px;
    text-align: center;
    
}
.adfont1{
	background-color:#FFFFFF;color:#1E90FF;font-family:Arial;font-size:13px;
}
.adfont2{
	background-color:#FFFFFF;color:#2D2D2D;font-family:Arial;font-size:11px;
}
.box22 a{
	    padding: 5px;
}
.box22{
	height:200px;
	background-color: #FFFFFF;
    border: 1px #FFFFFF solid;
    padding:20px;
    display: flex;
}
#Layer148_Container{
	color:#4B4B4B;font-family:Arial;font-size:13px;font-weight:bold;
}
.bg p{
	
    margin: 0 0 0px;
}
.inline1 {
    display: inline;
}
.padding76{
	display:none;
}
.product{
	color:#FFFFFF;font-family:Arial;font-size:15px;    background: rgba(0,0,0,.5);
    padding: 20px;
    font-size: 15px;
}
.navigation2{
	display: table-cell;
    text-align: center;
    color:#FFFFFF;
    padding:0px 5px;
}
.bg{
	height: 55px;
    background: rgba(0,0,0,.5);
}
.imgnav{
    margin-left: 5px;
    width: 50px;
    height: 54px;
    margin-top: -37px;

	
}#wb_desktop_menu
{
   border: 0px #FFFFFF solid;
   background-color: transparent;
}
#wb_desktop_menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 259px;
}
#wb_desktop_menu li
{
   float: left;
   margin: 0;
   padding: 0px 0px 2px 0px;
   width: 259px;
}
#wb_desktop_menu a
{
   display: block;
   color: #000000;
   border: 0px #FFFFFF solid;
   background-color: #FFFFFF;
   background-image: none;
   font-family: Georgia;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 239px;
   height: 35px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   line-height: 44px;
   text-align: left;
}
#wb_desktop_menu li:hover a, #wb_desktop_menu a:hover
{
   color: #FFFFFF;
   background-color: #FF8C00;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#wb_desktop_menu .firstmain a
{
   margin-top: 0px;
}
#wb_desktop_menu li.lastmain
{
   padding-bottom: 0px;
}
.block{
	    display: grid;
    float: right;
}
#wb_desktop_menu li:hover, #wb_desktop_menu li a:hover
{
   position: relative;
}
#wb_desktop_menu a.withsubmenu
{
   padding: 0 10px 0 10px;
   width: 239px;
   background-image: url(../../images/menu_icon.png);
   background-repeat: no-repeat;
   background-position: right center;
}
#wb_desktop_menu li:hover a.withsubmenu, #wb_desktop_menu a.withsubmenu:hover
{
   background-image: url(../../images/menu_icon0.png);
   background-repeat: no-repeat;
   background-position: right center;
}
#wb_desktop_menu ul ul
{
   position: absolute;
   left: -9999px;
   top: -9999px;
   width: 250px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_desktop_menu ul :hover ul
{
   left: 259px;
   top: 0px;
   padding-top: 0px;
}
#wb_desktop_menu .firstmain:hover ul
{
   top: 0px;
   padding-top: 0px;
}
#wb_desktop_menu li li
{
   width: 250px;
   padding: 0 0px 0px 0px;
   border: 0px #FF8C00 solid;
   border-width: 0 0px;
}
#wb_desktop_menu li li.firstitem
{
   border-top: 0px #FF8C00 solid;
}
#wb_desktop_menu li li.lastitem
{
   border-bottom: 0px #FF8C00 solid;
}
.top-div {
    background: transparent;
}
.inline22 {
   
    display: -webkit-inline-box;
}
#wb_desktop_menu ul ul a, #wb_desktop_menu ul :hover ul a
{
   float: none;
   margin: 0;
   width: 228px;
   height: auto;
   white-space: normal;
   padding: 10px 10px 10px 10px;
   background-color: #FF8C00;
   background-image: none;
   border: 1px #FFA500 solid;
   color: #FFFFFF;
   font-family: Georgia;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: left;
   text-decoration: none;
}
#wb_desktop_menu ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_desktop_menu ul ul :hover a, #wb_desktop_menu ul ul a:hover, #wb_desktop_menu ul ul :hover ul :hover a, #wb_desktop_menu ul ul :hover ul a:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
   color: #000000;
}
.col-lg-6{
	padding-left:0px ;
	padding-right:0px;
}
.col-sm-12{
	padding-left:0px ;
	padding-right:0px;
}
#wb_desktop_menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.style-font-1 {
       padding-left: 21px;
    margin: 0px 0 2px;
    text-align: left;
    font-size: 10px;
}
.bg11{
	    width: 23%;
    height: 81px;
    position:absolute;
	left: 35%;
    top: 31%;
	 text-align: left; visibility: hidden; z-index: 3866;
	    background-color: rgba(0,0,0,.4);
	    padding:20px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
    
}
.img66{
	    margin-top: -29px;
    width: 66px !important;;
    height: 66px !important;
    
    border-radius: 50%;;
}
.name{
	color:#1E90FF;font-family:Georgia;font-size:12px;    float: left;

}
.inline{
	display:-webkit-box;
}
.be2{
	color:#000000;font-family:Arial;font-size:12px;
       text-align: left;
}
.count{
	color:#3C3C3C;font-family:Georgia;font-size:12px;
}
#Button5 {
    border: 1px #A9A9A9 solid;
      width: 91px;
    float: right;
    background-color: #F0F0F0;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    margin-bottom:10px;
    }
.box2
.be1{
	color:#696969;font-family:Arial;font-size:12px;text-align: left;
}
.progress {
    width: 80%;
    height: 5px;
    margin: 0px 20px;
}
.box121{
	
    background: #f1f1f1;
    
}
.input{
	    border: 1px #A9A9A9 solid;
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
width:99%;

    margin-bottom: 5px;
    padding: 7px 0px 7px 10px;
    text-align: left;
    vertical-align: middle;
}
input{
	    padding: 4px;
    width: 100%;
}
.w1{
    width: 260px;
}
.box5 {
	background: white;
    padding: 6px 15px;
    margin-bottom: 2px;
    width: 260px;
    height: 42px;
}
.progress-bar {
    background-color: #FF6347 !important;
}.font121 {
    color: #FF6347;
    font-size: 11px;
    margin: 3px 0 10px;
}
.progress {
    height: 4px;
    margin-bottom: 3px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.boxy{
	padding: 10px 15px;
	position: absolute; text-align: left; 
    visibility: hidden; z-index: 3866;
	background-color: rgba(0,0,0,.4);
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
.antag{
	color: #000000;
    font-family: Georgia;
    font-size: 13px;
    vertical-align: middle;
    padding-left: 10px;
}
.bg3 p {
    margin: 0 8px 0px;
}
.bg3{
	    border-radius: 5px;
    padding: 3px 15px;
    margin: 10px 0px 0px;
	 background-color:#E0FFFF;
	 padding:10px;
	 color:#1E90FF;font-family:Georgia;font-size:12px; 
	 
}

@media screen and (min-width: 500px) {

.catalogue1{
	position: fixed; text-align: right; visibility: hidden; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 1321;    background-color: rgba(0, 0, 0, 0.7);
}
.catalogue2{
	width:1280px;position:relative;margin-left:auto;margin-right:0;text-align:left;
	
}
.catalogue3{
	position:absolute;left:58px;top:60px;width:911px;height:602px;z-index:1095;
}
.catalogue4{
	position:absolute;left:538px;top:178px;width:303px;height:268px;z-index:1096;
}
.catalogue5{
	width:303px;height:268px;
}
.catalogue6{
	position:absolute;left:537px;top:451px;width:150px;height:115px;z-index:1097;
	
}
.catalogue7{
	width:150px;height:115px;
}
.catalogue8{
	position:absolute;left:692px;top:451px;width:150px;height:115px;z-index:1098;
	
}
.catalogue9{
	width:150px;height:115px;
	
}
.catalogue10{
	position:absolute;left:179px;top:298px;width:303px;height: 563px;z-index:1099;
}
.catalogue11 {
    width: 100%;
   height:268px;
}
	
	.search{
	position:absolute;left:388px;top:51px;width:35px;height:25px;z-index:3718;
	}
.catalogue12{
	position:absolute;left:180px;top:190px;width:143px;height:16px;z-index:1100;text-align:left;

	}
.catalogue13{
	color:#303030;font-family:Georgia;font-size:13px;

	}
	.catalogue14{
	position:absolute;left:179px;top:210px;width:222px;height:57px;z-index:1101;text-align:left;
	}
	.catalogue15{
	color:#787878;font-family:Arial;font-size:11px;
	}
	.catalogue16{
	position:absolute;left:181px;top:257px;width:124px;height:14px;z-index:1102;text-align:left;
	}
	.catalogue17{
	color:#1E90FF;font-family:Arial;font-size:11px;
	}
	.catalogue18{
	position:absolute;left:180px;top:287px;width:295px;height:19px;text-align:center;z-index:1103;
	}
	.catalogue19{
	background-color:#FF0000;color:#FFFFFF;font-family:Arial;font-size:17px;
	}
	.catalogue20{
	position:absolute;left:895px;top:80px;width:40px;height:40px;z-index:1104;
	}
	.catalogue21{
	position:absolute;left:437px;top:572px;width:62px;height:23px;z-index:1105;text-align:left;
	}
	.catalogue22{
	color:#D3D3D3;font-family:Arial;font-size:11px;
	}
	
	.catalogue23{
	color:#FF6347;font-family:'Arial Black';font-size:16px;
	}
	.catalogue24{
	position:absolute;left:539px;top:571px;width:64px;height:23px;z-index:1106;text-align:left;
	}
	.catalogue25{
	color:#FF6347;font-family:Arial;font-size:19px;
	}
	.catalogue26{
	
	position:absolute;text-align:right;left:893px;top:273px;width:56px;height:160px;z-index:1107;
	}
	.catalogue27{
width:56px;position:relative;margin-left:auto;margin-right:0;text-align:left;
	
}
.catalogue27 img{
	width:35px;
}
.catalogue28{

	position:absolute;left:10px;top:12px;overflow:hidden;width:35px;height:35px;z-index:1091
}
.catalogue29{
position:absolute;left:10px;top:57px;overflow:hidden;width:35px;height:35px;z-index:1092
	
}.catalogue30{
position:absolute;left:10px;top:99px;overflow:hidden;width:35px;height:35px;z-index:1093
	
}
.catalogue31{
position:absolute;left:8px;top:98px;width:39px;height:39px;z-index:1094;
}
.class1{
	position:fixed;text-align:center;visibility:hidden;width:308px;height:561px;z-index:421;background:white;
	left: 566px;
    top: 100px;
}
.class2{
	width: 1280px;left: 3%;position: absolute;z-index:3000
}
.headimg{
	background:url(../../images/ts/homeheader0.jpg) no-repeat center center; background-size:100% 100%; height:235px;
}
.relative{
	 position: relative;"
}
.c20{
	 color:#1E90FF;font-family:Arial;font-size:16px;"
}
.c21{
	  color:#00BFFF;font-family:'Arial Black';font-size:11px;"
}
.s1{
	color:#3C3C3C;font-family:Arial;font-size:11px;
}
.s2{
	color:#1E90FF;font-family:Arial;font-size:12px;
}
.s3{
	color:#3C3C3C;font-family:Arial;font-size:13px;
}
.s4{
	color:#3C3C3C;font-family:Arial;font-size:11px;
}
.s5{
	     top: 10%; text-align:left;  left: 34%;
	
			    width: 36%;   
}
.a1{
	   left: 30%;
				    top: 26%;
}
.bgwhite {
    height: 234px;
    }
.g1{
	top:10%;
	left:10%;
}
.a2{
	      left: 30%;     width: 25%;
			    top: 14%;
}
.c3{
	position:absolute;left:44px;top:10px;width:125px;height:14px;text-align:left;"
}
.a3{
	left: 35%;
    top: 3%;
}
.a4{
	width:33%;
	left: 35%;
    top: 3%;
}
.c2{
	position:absolute;left:44px;top:28px;width:59px;height:15px;z-index:36;text-align:left;
}
.c1{
	color:#000;font-family:Arial;font-size:12px;
}
.b1{
	color:#1E90FF;font-family:Georgia;font-size:12px;
}
.d1{
	z-index: 0; height:900px; top: 0px; left: 0px; width: 1440px;
}
.d2{
	display: block; z-index: 1;  height:900px;top: 0px; left: 0px; width: 1440px;
}
.leftnav{
	position:fixed;text-align:left;left:0;top:0;bottom:0;width:101px;z-index:3867; height:100%;
}
.bottomnav{
	position: fixed; text-align: center; left: 0px; top: auto; width: 99%; height: 109px; z-index: 3858; bottom: 0px;
}
.b2{
	color:#1E90FF;font-family:Georgia;font-size:12px;
}
.s15{
	 color:#2D2D2D;font-family:Arial;font-size:12px;"
}
.s6{
	color:#696969;font-family:Arial;font-size:12px;
}
.s7{
	color:#1E1E1E;font-family:Georgia;font-size:13px;
}
.s8{
	background-color:#3C3C3C;color:#FFFFFF;font-family:Arial;font-size:13px;text-align:center
}
.s9{
	 top: 10%;    left: 40%;   width: 27%;
}
.s10{
	position:absolute;left:75px;top:92%;width:35px;height:13px;z-index:999
}
.s11{
	position:absolute;right:75px;top:92%;width:35px;height:13px;z-index:999
}
a{
	cursor:pointer;
}
.s12{
	color:#787878;font-family:Arial;font-size:13px;
}
.s13{
	 color:#4B4B4B;font-family:Arial;font-size:16px;"
}
.s14{
	 color:#787878;font-family:Arial;font-size:11px;"
}


.c22{
	 position:absolute;right:18px;top:96%;width:35px;height:13px;z-index:999
}
.c19{
	top: 10%;text-align:left;  left: 34%;
    width: 36%;   top: 10%;  
}
.c17{
position:absolute; left: 250px;
    top: 519px;
width:74px;height:15px;z-index:3560;text-align:left;
}
.c18{
	position:absolute;left:22px;top:96%;width:35px;height:13px;z-index:999;
}
.c12{
	position: absolute;
    text-align: left;
    left: 1090px;
    top: 30px;
    width: 200px;
    height: 53px;
    z-index: 3859;
}
.c13{
	position:absolute;left:9px;top:12px;width:28px;height:28px;z-index:70;
}
.c16{
	color:#A9A9A9;font-family:Arial;font-size:13px;
}
.c15{
	color:#3C3C3C;font-family:Arial;font-size:24px;
}
.c14{
	color:#3C3C3C;font-family:Arial;font-size:12px;
}
.c11{
	color:#3C3C3C;font-family:Arial;font-size:9pt;
	background-color: transparent;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    line-height: 1pt;
    height: 80px;
    width: 535px;
}
.white-bg-text {
	background-color: #FFFFFF;
    color: #3C3C3C;
    font-family: Arial;
    font-size: 9pt;
    line-height: 12pt;
}
.c10{
background-color:#FFFFFF;color:#3C3C3C;font-family:Georgia;font-size:20px;padding:0px 5px;
}
.c9{
	position: absolute;left:10%;top:10% ;width:450px;z-index:3844;
}
.c8{
	position: relative; min-height: 235px;
}
.c6{
	color:#FFFFFF;font-family:Impact;font-size:48px;letter-spacing:0.07px;margin-top:-15px;
}
.c7{
	color:#E8AD8F;font-family:Arial;font-size:12px;margin-top:-7px
}
.c5{
	color:#FFFFFF;font-family:Arial;font-size:27px;margin-top:35px;
}
.c4{
	color:#E8AD8F;font-family:Georgia;font-size:12px;
}
.c3{
	padding-top:1px;padding-right:1px;
}
.navigation2n {
	display: table-cell;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 1px;
}
.img-disabled {
	opacity :0.15;
}
.img-disabled1 {
	opacity :0.30;
}
.black-horse-icon {
	width:30px;
	height:30px;
}
.verified-icon {
	width:28px;
	height:28px;
}
.community-member-icon {
	width:28px;
	height:28px;
}
.gaurantee-icon {
	width:34px;
	height:27px;
}
.desksite-maindropdown {
	width: 25px;
    height: 15px;
}
.country-flag-icon {
	width: 28px;
    height: 28px;
}
#Layer84
{
   background-color: #696969;
}
#Shape11
{
   border-width: 0;
}
#Line5
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line6
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line7
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line8
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Layer83
{
   background-color: #696969;
}
#wb_Text123 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text123 div
{
   text-align: center;
}
#Shape10
{
   border-width: 0;
}
#Line1
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line2
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line3
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Line4
{
   border-width: 0;
   height: 77px;
   width: 9px;
}
#Image45
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver7 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver7 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver7 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver7 a .hover
{
   visibility: hidden;
}
#RollOver7 a:hover .hover
{
   visibility: visible;
}
#RollOver7 a:hover span
{
   visibility: hidden;
}
#RollOver7 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver43 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver43 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver43 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver43 a .hover
{
   visibility: hidden;
}
#RollOver43 a:hover .hover
{
   visibility: visible;
}
#RollOver43 a:hover span
{
   visibility: hidden;
}
#RollOver43 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver44 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver44 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver44 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver44 a .hover
{
   visibility: hidden;
}
#RollOver44 a:hover .hover
{
   visibility: visible;
}
#RollOver44 a:hover span
{
   visibility: hidden;
}
#RollOver44 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver45 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver45 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver45 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver45 a .hover
{
   visibility: hidden;
}
#RollOver45 a:hover .hover
{
   visibility: visible;
}
#RollOver45 a:hover span
{
   visibility: hidden;
}
#RollOver45 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver46 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver46 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver46 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver46 a .hover
{
   visibility: hidden;
}
#RollOver46 a:hover .hover
{
   visibility: visible;
}
#RollOver46 a:hover span
{
   visibility: hidden;
}
#RollOver46 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver47 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver47 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver47 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver47 a .hover
{
   visibility: hidden;
}
#RollOver47 a:hover .hover
{
   visibility: visible;
}
#RollOver47 a:hover span
{
   visibility: hidden;
}
#RollOver47 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver48 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver48 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver48 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver48 a .hover
{
   visibility: hidden;
}
#RollOver48 a:hover .hover
{
   visibility: visible;
}
#RollOver48 a:hover span
{
   visibility: hidden;
}
#RollOver48 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver49 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver49 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver49 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver49 a .hover
{
   visibility: hidden;
}
#RollOver49 a:hover .hover
{
   visibility: visible;
}
#RollOver49 a:hover span
{
   visibility: hidden;
}
#RollOver49 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver50 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver50 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver50 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver50 a .hover
{
   visibility: hidden;
}
#RollOver50 a:hover .hover
{
   visibility: visible;
}
#RollOver50 a:hover span
{
   visibility: hidden;
}
#RollOver50 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver51 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver51 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver51 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver51 a .hover
{
   visibility: hidden;
}
#RollOver51 a:hover .hover
{
   visibility: visible;
}
#RollOver51 a:hover span
{
   visibility: hidden;
}
#RollOver51 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver52 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver52 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver52 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver52 a .hover
{
   visibility: hidden;
}
#RollOver52 a:hover .hover
{
   visibility: visible;
}
#RollOver52 a:hover span
{
   visibility: hidden;
}
#RollOver52 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver53 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver53 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver53 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver53 a .hover
{
   visibility: hidden;
}
#RollOver53 a:hover .hover
{
   visibility: visible;
}
#RollOver53 a:hover span
{
   visibility: hidden;
}
#RollOver53 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver54 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver54 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver54 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver54 a .hover
{
   visibility: hidden;
}
#RollOver54 a:hover .hover
{
   visibility: visible;
}
#RollOver54 a:hover span
{
   visibility: hidden;
}
#RollOver54 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver55 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver55 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver55 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver55 a .hover
{
   visibility: hidden;
}
#RollOver55 a:hover .hover
{
   visibility: visible;
}
#RollOver55 a:hover span
{
   visibility: hidden;
}
#RollOver55 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver56 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver56 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver56 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver56 a .hover
{
   visibility: hidden;
}
#RollOver56 a:hover .hover
{
   visibility: visible;
}
#RollOver56 a:hover span
{
   visibility: hidden;
}
#RollOver56 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver57 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver57 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver57 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver57 a .hover
{
   visibility: hidden;
}
#RollOver57 a:hover .hover
{
   visibility: visible;
}
#RollOver57 a:hover span
{
   visibility: hidden;
}
#RollOver57 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver58 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver58 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver58 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver58 a .hover
{
   visibility: hidden;
}
#RollOver58 a:hover .hover
{
   visibility: visible;
}
#RollOver58 a:hover span
{
   visibility: hidden;
}
#RollOver58 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver42 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver42 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver42 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver42 a .hover
{
   visibility: hidden;
}
#RollOver42 a:hover .hover
{
   visibility: visible;
}
#RollOver42 a:hover span
{
   visibility: hidden;
}
#RollOver42 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image45 {
    border: 0px #000000 solid;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#Layer282
{
   background-color: #787878;
}
#Layer282:hover
{
   background-color: #3C3C3C;
   -webkit-transition: background-color 500ms linear 0ms;
   -moz-transition: background-color 500ms linear 0ms;
   -ms-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#wb_Text146 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text146 div
{
   text-align: center;
}
a.style1
{
   color: #000000;
   text-decoration: none;
}
a.style1:visited
{
   color: #000000;
   text-decoration: none;
}
a.style1:active
{
   color: #000000;
   text-decoration: none;
}
a.style1:hover
{
   color: #FF8C00;
   font-weight: bold;
   text-decoration: none;
}
.add-share-img {
	width: 35px;
    height: 35px;
}
.add-share-img {
	width: 30px;
    height: 30px;
}
#RollOver6 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver6 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver6 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver6 a .hover
{
   visibility: hidden;
}
#RollOver6 a:hover .hover
{
   visibility: visible;
}
#RollOver6 a:hover span
{
   visibility: hidden;
}
#RollOver6 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.box222
{
   background-color: #FFFFFF;
   border: 1px #FFFFFF solid;
   padding:0px;
}
.box222:hover
{
   background-color: #FFEFD5;
   -webkit-transition: background-color 300ms ease-in-out 0ms;
   -moz-transition: background-color 300ms ease-in-out 0ms;
   -ms-transition: background-color 300ms ease-in-out 0ms;
   transition: background-color 300ms ease-in-out 0ms;
}
.box22
{
   background-color: #FFFFFF;
   border: 1px #FFFFFF solid;
}
.box22:hover
{
   background-color: #FFFFFF;
   -webkit-transition: background-color 300ms ease-in-out 0ms;
   -moz-transition: background-color 300ms ease-in-out 0ms;
   -ms-transition: background-color 300ms ease-in-out 0ms;
   transition: background-color 300ms ease-in-out 0ms;
}
.box2
{
   background-color: #FFFFFF;
   border: 1px #FFFFFF solid;
}
.box2:hover
{
   /*background-color: #FFEFD5;*/
   -webkit-transition: background-color 300ms ease-in-out 0ms;
   -moz-transition: background-color 300ms ease-in-out 0ms;
   -ms-transition: background-color 300ms ease-in-out 0ms;
   transition: background-color 300ms ease-in-out 0ms;
}
#Layer99 {
    background-color: #4B4B4B;
    border: 1px #A9A9A9 solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 12px #000000;
    -webkit-box-shadow: 2px 2px 12px #000000;
    box-shadow: 2px 2px 12px #000000;
}
a.navigation2:hover{
	text-decoration:none;	
}
a.style5
{
   color: #1E90FF;
   text-decoration: none;
}
a.style5:visited
{
   color: #1E90FF;
   text-decoration: none;
}
a.style5:active
{
   color: #1E90FF;
   text-decoration: none;
}
a.style5:hover
{
   color: #FF6347;
   text-decoration: underline;
}
#Layer42 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:15px;
	width:500px !important;
	height:651px;
	z-index:3888;
    background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer145 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:20px;
	width:503px;
	height:529px;
	z-index:3642;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer80 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:29px;
	width:337px;
	height:519px;
	z-index:3674;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
.box802{
	height: 440px;
	background:white;
	text-align:center;     
	padding: 15px 25px;;
}
#Layer150 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:28px;
	width:340px;
	height:402px;
	z-index:3616;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer66 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:18px;
	width:501px;
	height:556px;
	z-index:3555;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
.box662 {
    height: 440px;
    background: white;
    text-align: center;
    padding: 15px 25px;
}
#Layer73 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:27px;
	width:509px;
	height:574px;
	z-index:3567;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
.box732 {
	height: 460px;
    background: white;
    text-align: center;
    padding: 15px 25px;
}
#Layer8 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:20px;
	width:454px;
	height:635px;
	z-index:3735;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#wb_CssMenu2 {
    position: absolute;
    left: 460px;
    top: 293px;
    width: 122px;
    height: 31px;
    z-index: 98;
}
#wb_CssMenu2
{
   border: 0px #FFFFFF solid;
   background-color: transparent;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 2px 0px 0px;
   width: 120px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FF6347 solid;
   background-color: #FF6347;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 110px;
   height: 31px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 31px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #DCDCDC solid;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 li:hover, #wb_CssMenu2 li a:hover
{
   position: relative;
}
#wb_CssMenu2 a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 110px;
   background-image: none;
}
#wb_CssMenu2 li:hover a.withsubmenu, #wb_CssMenu2 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu2 ul ul
{
   position: absolute;
   left: -9999px;
   top: -9999px;
   width: 120px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_CssMenu2 ul :hover ul
{
   left: 0px;
   top: 31px;
   padding-top: 0px;
}
#wb_CssMenu2 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu2 li li
{
   width: 120px;
   padding: 0 0px 0px 0px;
   border: 0px #FFA500 solid;
   border-width: 0 0px;
}
#wb_CssMenu2 li li.firstitem
{
   border-top: 0px #FFA500 solid;
}
#wb_CssMenu2 li li.lastitem
{
   border-bottom: 0px #FFA500 solid;
}
#wb_CssMenu2 ul ul a, #wb_CssMenu2 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 110px;
   height: auto;
   white-space: normal;
   padding: 9px 5px 9px 5px;
   background-color: #3C3C3C;
   background-image: none;
   border: 0px #FFFFFF solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: center;
   text-decoration: none;
}
#wb_CssMenu2 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu2 ul ul :hover a, #wb_CssMenu2 ul ul a:hover, #wb_CssMenu2 ul ul :hover ul :hover a, #wb_CssMenu2 ul ul :hover ul a:hover
{
   background-color: #FF6347;
   background-image: none;
   border: 0px #C0C0C0 solid;
   color: #FFFFFF;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Layer15 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:50px;
	width:437px;
	height:271px;
	z-index:3779;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Carousel1
{
   position: absolute;
}
#wb_Carousel1
{
   background-color: transparent;
}
#Carousel1 .frame
{
   width: 422px;
   display: inline-block;
   float: left;
   height: 357px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 999;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 5px 5px 5px 5px;
}
#wb_Image6
{
   position: absolute;
   left: 12px;
   top: 7px;
   width: 400px;
   height: 320px;
   z-index: 55;
}
#wb_Carousel1
{
   position: absolute;
   width: 420px;
   height: 370px;
   z-index: 60;
   overflow: hidden;
   left:20px;
}
#wb_Image7
{
   position: absolute;
   left: 431px;
   top: 9px;
   width: 400px;
   height: 320px;
   z-index: 56;
}
#wb_Image8
{
   position: absolute;
   left: 853px;
   top: 8px;
   width: 400px;
   height: 320px;
   z-index: 57;
}
#wb_Image9
{
   position: absolute;
   left: 1275px;
   top: 8px;
   width: 400px;
   height: 320px;
   z-index: 58;
}
#wb_Shape7
{
   position: absolute;
   left: 5px;
   width: 72px;
   height: 60px;
   z-index: 61;
}
#Shape7
{
   width: 72px;
   height: 60px;
   border-width:0;
}
#Layer63 {
	position:absolute;
	text-align:left;
	left:0;
	right:0;
	margin:0 auto;
	top:50px;
	width:470px;
	height:240px;
	z-index:3655;
	background-color: rgba(0,0,0,.6);
    padding:25px 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer52 {
	position:absolute;
	text-align:left;
	left:0px;
	top:17px;
	width:291px;
	height:416px;
	z-index:3829;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer217 {
	position:absolute;
	text-align:left;
	left:170px;
	top:30px;
	width:417px;
	height:480px;
	z-index:3631;
	background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer55 {
	position:absolute;
	text-align:left;
	left:8px;top:2px;
	width:457px;
	height:95px;
	z-index:3717;
    background-color: #000000;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
    filter: alpha(opacity=20);
    opacity: 0.60;
}
#Button3 {
    border: 1px #F05539 solid;
    background-color: #FFFFFF;
    background-image: url(images/search-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: #A9A9A9;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}
#Layer27 {
    background-color: transparent;
    /*background-image: url(../../images/Car0.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;*/
    -moz-box-shadow: -2px 2px 8px #000000;
    -webkit-box-shadow: -2px 2px 8px #000000;
    box-shadow: -2px 2px 8px #000000;
}
#Layer34 {
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.60;
}
#Layer29 {
    background-color: transparent;
    filter: alpha(opacity=90);
    opacity: 0.90;
}
#Layer31 {
    background-color: transparent;
    filter: alpha(opacity=90);
    opacity: 0.90;
}
#Layer30 {
    background-color: #000000;
    filter: alpha(opacity=60);
    opacity: 0.70;
}
a.style24
{
   color: #FFFFFF;
   text-decoration: none;
}
a.style24:visited
{
   color: #FFFFFF;
   text-decoration: none;
}
a.style24:active
{
   color: #FFFFFF;
   text-decoration: none;
}
a.style24:hover
{
   color: #FFFFFF;
   text-decoration: none;
}
#Layer37 {
	position:absolute;
	text-align:left;
	left:162px;
	top:56px;
	width:272px;
	height:546px;
	z-index:1588;
    background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
#Layer45 {
	position:absolute;
	text-align:left;
	left:0px;
	top:55px;
	width:270px;
	height:550px;
	z-index:3796;
    background-color: rgba(0,0,0,.6);
    padding: 15px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
.slideboxlayer {
    width: 434px;
    position: absolute;
    top:10%;
    left:0;
    right:0;
    margin:0 auto;
    text-align: left;
    visibility: hidden;
    z-index: 3866;
    background-color: rgba(0,0,0,.6);
    padding: 20px;
    border: 1px #FFFFFF solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px -1px 12px #000000;
    -webkit-box-shadow: 2px -1px 12px #000000;
    box-shadow: 2px -1px 12px #000000;
}
