body
{
   background-color: #3C3C3C;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1 {
   background-color: #000000;
   filter: alpha(opacity=37);
   opacity: 0.37;
}
#Layer2 {
   background-color: transparent;
}
#Layer46 {
   background-color: transparent;
   background-image: url(../images/background0.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#wb_Text107 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text107 div
{
   text-align: center;
}
#wb_Text106 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text106 div
{
   text-align: left;
}
#Login1
{
   background-color: #FFFFFF;
   border-color:#FFFFFF;
   border-width:1px;
   border-style: solid;
   color: #2D2D2D;
   border-spacing: 6px;
   font-family: "Arial Rounded MT Bold";
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   width: 387px;
   height: 207px;
}
.Login1_header
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   text-align: center;
}
.Login1_input
{
   background-color: #FFFFFF;
   border-color: #D3D3D3;
   border-width: 1px;
   border-style: solid;
   color: #2D2D2D;
   font-family: "Arial Rounded MT Bold";
   font-weight: normal;
   font-size: 13px;
   width: 300px;
   height: 35px;
   border-radius:0px;
}
.Login1_button
{
   background-color: #FA5C43;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
   color: #2D2D2D;
   font-family: "Arial Rounded MT Bold";
   font-weight: normal;
   font-size: 13px;
   width: 303px;
   height: 35px;
   cursor:pointer;
}
#wb_Text428 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text428 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#PasswordRecovery1
{
   background-color: #FFFFFF;
   border-color:#878787;
   border-width:0px;
   border-style: solid;
   color: #2D2D2D;
   font-family: Georgia;
   font-weight: normal;
   font-size: 13px;
   text-align: left;
   border-spacing: 4px;
   width: 401px;
   height: 129px;
}
.PasswordRecovery1_header
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   text-align: center;
}
.PasswordRecovery1_input
{
   background-color: #FFFFFF;
   border-color: #D3D3D3;
   border-width: 1px;
   border-style: solid;
   color: #2D2D2D;
   font-family: Georgia;
   font-weight: normal;
   font-size: 13px;
   width: 303px;
   height: 35px;
   border-radius:0px;
}
.PasswordRecovery1_button
{
   background-color: #FA5C43;
   border-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
   color: #2D2D2D;
   font-family: Georgia;
   font-weight: normal;
   font-size: 13px;
   width: 307px;
   height: 35px;
   cursor:pointer;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#Recover_password
{
   background-color: #FFFFFF;
}
#Login_layer
{
   background-color: #FFFFFF;
}
#Line1
{
   color: #FFFFFF;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Line2
{
   color: #FFFFFF;
   background-color: #FFFFFF;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver1 a .hover
{
   visibility: hidden;
}
#RollOver1 a:hover .hover
{
   visibility: visible;
}
#RollOver1 a:hover span
{
   visibility: hidden;
}
#RollOver1 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver2 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver2 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver2 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver2 a .hover
{
   visibility: hidden;
}
#RollOver2 a:hover .hover
{
   visibility: visible;
}
#RollOver2 a:hover span
{
   visibility: hidden;
}
#RollOver2 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver3 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver3 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver3 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver3 a .hover
{
   visibility: hidden;
}
#RollOver3 a:hover .hover
{
   visibility: visible;
}
#RollOver3 a:hover span
{
   visibility: hidden;
}
#RollOver3 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
